#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.category-card {
  background-color: #111;
  border-radius: 10px;
  overflow: hidden;
  width: 300px;
  position: relative;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.category-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 18px rgba(255, 215, 0, 0.5); /* efek cahaya kuning */
}

body {
  font-family: 'Poppins', sans-serif;

}

.brand-hover:hover {
  transform: scale(1.1); /* Membesarkan gambar saat hover */
}

.ecommerce-hover:hover {
  transform: scale(1.1); /* Membesarkan elemen saat hover */
}

/* Pastikan seluruh halaman memiliki latar belakang hitam */
html, body {
  background-color: #080808; /* Ubah warna background di sini */
  color: #fff;
  margin: 0;
  padding: 0;
  height: 100%;
}

/* .modal-backdrop-blur {
  backdrop-filter: blur(6px);
  background-color: rgba(0, 0, 0, 0.3) !important;
} */